API_URL=http://localhost:5000
NEXT_PUBLIC_API_URL=http://localhost:5000
NEXT_PUBLIC_DISCORD_INVITE=https://discord.gg/yourinvite
NEXT_PUBLIC_ZALO_LINK=https://zalo.me/yourshop
NEXT_PUBLIC_FACEBOOK_LINK=https://facebook.com/yourshop
